In [80]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import patsy
import statsmodels.api as sm
import scipy.stats as stats

In [81]:
df = pd.read_csv('database.csv')

In [89]:
#col_actor_awards = [len(dict_films)]
actor_awards = df.loc[((df['Award'] == "Actor") | (df['Award'] == "Actress")), 'Film']

In [188]:
arr_film_one = []
for i in range(0,actor_awards.shape[0]):
    try:
        if actor_awards[i] not in arr_film_one:
            arr_film_one.append(actor_awards[i])
    except KeyError:
        pass
    
total_movies = []
for i in range(0,df.shape[0]):
    try:
        if df.Film[i] not in total_movies:
            total_movies.append(df.Film[i])
    except KeyError:
        pass
    
arr_film_zero = list(arr_film_one)
for i in range(0,len(total_movies)):
    if total_movies[i] not in arr_film_zero:
        arr_film_zero.append(total_movies[i])

In [190]:
arr_awards_one = [0] * len(arr_film_one)
for i in range(0, len(arr_film_one)):
    arr_awards_one[i]+=actor_awards[actor_awards == arr_film_one[i]].shape[0]

arr_awards_zero = list(arr_awards_one)
for i in range(0, len(total_movies)-len(arr_film_one)):
    arr_awards_zero.append(0)

In [193]:
col_awards_one = pd.DataFrame({'actor_awards': arr_awards_one})
col_film_one = pd.DataFrame({'film': arr_film_one})
df_actor_awards_one = pd.concat([col_awards_one, col_film_one],axis = 1)
df_actor_awards_one

    actor_awards                               film
0              1                          The Noose
1              1                   The Last Command
2              1                    A Ship Comes In
3              1                         7th Heaven
4              1                     Sadie Thompson
5              1                        Thunderbolt
6              1                     In Old Arizona
7              1                              Alibi
8              1                        The Valiant
9              1                        The Patriot
10             1                           Madame X
11             1                         The Barker
12             2                         The Letter
13             1                    The Divine Lady
14             1                The Broadway Melody
15             1                           Coquette
16             1                           Disraeli
17             1                  The Green Goddess
18             1                      The Big House
19             1                       The Big Pond
20             1                   Bulldog Drummond
21             1                     The Rogue Song
22             1                The Devil's Holiday
23             1                      Sarah and Son
24             1                      Anna Christie
25             1                       The Divorcee
26             1                   Their Own Desire
27             1                     The Trespasser
28             2                        A Free Soul
29             1                             Skippy
..           ...                                ...
41             1                    Berkeley Square
42             1     The Private Life of Henry VIII
43             1  I Am a Fugitive from a Chain Gang
44             1                      Morning Glory
45             1                     Lady for a Day
46             1                          Cavalcade
47             2              It Happened One Night
48             1             The Affairs of Cellini
49             1                       The Thin Man
50             1                   Of Human Bondage
51             1                  One Night of Love
52             1     The Barretts of Wimpole Street
53             3               Mutiny on the Bounty
54             1                       The Informer
55             1                         Black Fury
56             1                    Escape Me Never
57             1                     Private Worlds
58             1                          Dangerous
59             1                        Alice Adams
60             1                        Becky Sharp
61             1                     The Dark Angel
62             1             Mr. Deeds Goes to Town
63             1                          Dodsworth
64             1         The Story of Louis Pasteur
65             2                     My Man Godfrey
66             1                      San Francisco
67             1                 Theodora Goes Wild
68             1     Valiant Is the Word for Carrie
69             1                 The Great Ziegfeld
70             1                   Romeo and Juliet

[71 rows x 2 columns]

In [195]:
col_awards_zero = pd.DataFrame({'actor_awards': arr_awards_zero})
col_film_zero = pd.DataFrame({'film': arr_film_zero})
df_actor_awards_zero = pd.concat([col_awards_zero, col_film_zero],axis = 1)
df_actor_awards_zero

      actor_awards                                               film
0                1                                          The Noose
1                1                                   The Last Command
2                1                                    A Ship Comes In
3                1                                         7th Heaven
4                1                                     Sadie Thompson
5                1                                        Thunderbolt
6                1                                     In Old Arizona
7                1                                              Alibi
8                1                                        The Valiant
9                1                                        The Patriot
10               1                                           Madame X
11               1                                         The Barker
12               2                                         The Letter
13               1                                    The Divine Lady
14               1                                The Broadway Melody
15               1                                           Coquette
16               1                                           Disraeli
17               1                                  The Green Goddess
18               1                                      The Big House
19               1                                       The Big Pond
20               1                                   Bulldog Drummond
21               1                                     The Rogue Song
22               1                                The Devil's Holiday
23               1                                      Sarah and Son
24               1                                      Anna Christie
25               1                                       The Divorcee
26               1                                   Their Own Desire
27               1                                     The Trespasser
28               2                                        A Free Soul
29               1                                             Skippy
...            ...                                                ...
6334             0                 Richard Williams and Imogen Sutton
6335             0                    Sanjay Patel and Nicole Grindle
6336             0                       Basil Khalil and Eric Dupont
6337             0                                       Henry Hughes
6338             0                                   Patrick Vollrath
6339             0                                    Jamie Donoughue
6340             0                Benjamin Cleary and Serena Armitage
6341             0                       Mark Mangini and David White
6342             0                    Martin Hernandez and Lon Bender
6343             0                                 Alan Robert Murray
6344             0                       Matthew Wood and David Acord
6345             0          Andy Nelson, Gary Rydstrom and Drew Kunin
6346             0          Chris Jenkins, Gregg Rudloff and Ben Osmo
6347             0              Paul Massey, Mark Taylor and Mac Ruth
6348             0  Jon Taylor, Frank A. Montaño, Randy Thom and C...
6349             0  Andy Nelson, Christopher Scarabosio and Stuart...
6350             0  Andrew Whitehurst, Paul Norris, Mark Ardington...
6351             0  Andrew Jackson, Tom Wood, Dan Oliver and Andy ...
6352             0  Richard Stammers, Anders Langlands, Chris Lawr...
6353             0  Rich McBride, Matthew Shumway, Jason Smith and...
6354             0  Roger Guyett, Patrick Tubach, Neal Scanlan and...
6355             0      Screenplay by Charles Randolph and Adam McKay
6356             0                         Screenplay by Phyllis Nagy
6357             0                         Screenplay by Drew Goddard
6358             0                        Screenplay by Emma Donoghue
6359             0  Written by Matt Charman and Ethan Coen & Joel ...
6360             0                            Written by Alex Garland
6361             0  Screenplay by Pete Docter, Meg LeFauve, Josh C...
6362             0              Written by Josh Singer & Tom McCarthy
6363             0  Screenplay by Jonathan Herman and Andrea Berlo...

[6364 rows x 2 columns]