### Budget Notebook
This notebook takes in the movies_metadata.csv from the Kaggle database and drops every column that does not have to do with budget and movie name.

In [111]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [112]:
# Read in the dataset to a pandas dataframe
df = pd.read_csv('movies_metadata.csv')

/home/madeleine/anaconda2/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [113]:
# List of all the column header names
(df.columns.values)

array(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'id', 'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'], dtype=object)

In [114]:
# Keeps all the columns that have identifiers: (e.g title, id, original_title) and all the columns
# that have to do with money
df = df[['id', 'original_title','revenue','budget']]

In [115]:
df.budget = pd.to_numeric(df.budget, errors='coerce')
df.revenue = pd.to_numeric(df.revenue, errors='coerce')

In [116]:
# Dropping one weird row where there is a NaN value for budget
df = df.drop(df.index[19731])

In [117]:
# Something to think about, we have a lot of missing data for budget and revenue
print(sum(df['budget'] == 0))
print(sum(df['revenue'] == 0))

36573
38052

In [123]:
# Replace all 0 values with nan
df['budget'].replace(0, np.nan, inplace=True)
df['revenue'].replace(0, np.nan, inplace=True)
df.head()

      id               original_title      revenue      budget
0    862                    Toy Story  373554033.0  30000000.0
1   8844                      Jumanji  262797249.0  65000000.0
2  15602             Grumpier Old Men          NaN         NaN
3  31357            Waiting to Exhale   81452156.0  16000000.0
4  11862  Father of the Bride Part II   76578911.0         NaN